Repository kuhnroyal/mat-datetimepicker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write -u

feat(deps): angular 21 upgrade
  .github/workflows/lint.yaml
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  angular.json
  package-lock.json
  package.json
  projects/core/karma.conf.js
  projects/core/package.json
  projects/core/src/datetimepicker/calendar-body.html
  projects/core/src/datetimepicker/clock.html
  projects/core/src/datetimepicker/clock.ts
  projects/core/src/datetimepicker/datetimepicker-toggle.html
  projects/core/src/datetimepicker/month-view.html
  projects/core/tsconfig.lib.json
  projects/moment/karma.conf.js
  projects/moment/package.json
  projects/moment/tsconfig.lib.json
  src/app/date.component.html
  src/karma.conf.js
  src/main.ts
  tsconfig.json
Due: eslint --fix, prettier --write -u

fix(deps): upgrade core dependency in moment adapter
  projects/moment/package.json
Due: prettier --write -u

ci: fix polyfills array in angular.json
  angular.json
Due: prettier --write -u

fix(deps): upgrade build deps to latest versions
  package-lock.json
  package.json
Due: prettier --write -u

ci: fix karma single run configuration
  package.json
  src/karma.conf.js
Due: eslint --fix, prettier --write -u

chore: apply prettier code style
  projects/core/src/datetimepicker/month-view.ts
  projects/core/src/datetimepicker/multi-year-view.ts
Due: eslint --fix, prettier --write -u

refactor(lint): use built-in control flow instead of directives
  projects/core/eslint.config.js
  projects/core/src/datetimepicker/calendar.html
Due: eslint --fix, prettier --write -u

chore(release): 17.0.0
  projects/core/package.json
  projects/moment/package.json
Due: prettier --write -u

Notes added by 'git notes add'
  21522cd7a25626d87b43faa20d093737bae8b274
Due: none

chore: remove nested package-lock.json files
  projects/core/package-lock.json
  projects/moment/package-lock.json
Due: prettier --write -u

chore(deps): updated dependencies
  package-lock.json
  package.json
Due: prettier --write -u

fix(#682): remove ngSwitchDefault
  projects/core/src/datetimepicker/calendar.html
Due: prettier --write -u

Update release workflow with OIDC permissions
  .github/workflows/release.yaml
Due: none

chore(release): 17.0.1
  projects/core/package.json
  projects/moment/package.json
Due: prettier --write -u

Notes added by 'git notes add'
  9f7286fd8a95db4a1f8fbbf3f4c57563f7031920
Due: none

fix(deps): dependency maintenance
  package-lock.json
  package.json
Due: prettier --write -u

ci: fix gh-pages build
  .github/workflows/publish.yaml
  angular.json
  package.json
Due: prettier --write -u

chore(release): 17.0.2
  projects/core/package.json
  projects/moment/package.json
Due: prettier --write -u

Notes added by 'git notes add'
  865496a3f2de3d841120634d8111798fe20690d6
Due: none

Auto-generated commit
  .nojekyll
  3rdpartylicenses.txt
  404.html
  index.html
  main-KYTJCHJX.js
  main.9bf29831a6442f71.js
  polyfills-6ISPNSXF.js
  polyfills.07673bdeadad0185.js
  runtime.4754232643fbe219.js
  styles-FPQUVGRI.css
  styles.d0147c8c05cfdcad.css
  vendor.8bf28cc7a1726ef6.js
Due: eslint --fix, prettier --write -u

fix(deps): package dependency maintenance
  .github/dependabot.yml
  package-lock.json
  package.json
Due: prettier --write -u

chore(release): 17.0.3
  projects/core/package.json
  projects/moment/package.json
Due: prettier --write -u

Notes added by 'git notes add'
  911e300e42006ae05adb428f5bfe368dc4704f74
Due: none

Auto-generated commit
  404.html
  index.html
  main-66Y2RQMQ.js
  main-KYTJCHJX.js
Due: eslint --fix, prettier --write -u

fix: missing character in installation instructions
  README.md
Due: prettier --write -u

chore(release): 17.0.4
  projects/core/package.json
  projects/moment/package.json
Due: prettier --write -u

Path conditions:
  eslint --fix: any of: {,e2e/**/,projects/**/,src/**/}*.{js,ts,tsx,css}
  prettier --write -u: (any of: {,e2e/**/,projects/**/,src/**/}*.{js,ts,tsx,css}) or (any of: {,e2e/**/,projects/**/,src/**/}*.{md,json,html,css,scss})
