Repository kuhnroyal/mat-datetimepicker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write -u

.lintstagedrc.json:

{
  "{,e2e/**/,projects/**/,src/**/}*.{js,ts,tsx,css}": [
    "eslint --fix",
    "prettier --write -u"
  ],
  "{,e2e/**/,projects/**/,src/**/}*.{md,json,html,css,scss}": [
    "prettier --write -u"
  ]
}

chore: ts and zone updated
  package-lock.json
  package.json
Due: prettier --write -u

chore: #503 V17 update
  angular.json
  package-lock.json
  package.json
  src/polyfills.ts
  src/test.ts
Due: eslint --fix, prettier --write -u

chore: remove package-lock.json
  package-lock.json
Due: prettier --write -u

chore: update package-lock.json
  package-lock.json
Due: prettier --write -u

feat(deps): upgrade to angular v17
  .github/workflows/lint.yaml
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  angular.json
  package-lock.json
  package.json
  projects/core/package.json
  projects/core/src/datetimepicker/calendar.ts
  projects/core/src/datetimepicker/clock.ts
  projects/moment/package.json
  src/polyfills.ts
  src/test.ts
Due: eslint --fix, prettier --write -u

chore(release): 13.0.0
  projects/core/package.json
  projects/moment/package.json
Due: prettier --write -u

Notes added by 'git notes add'
  bdb7a7dd64c7aa9b5a9fdb8ee018aeed41525be5
Due: none

Auto-generated commit [ci skip]
  404.html
  index.html
  main.8145a88804e5d7d1.js
  main.d29f87c7481e77d2.js
  polyfills.9619567d0565ede5.js
  polyfills.e949abdbb9902e95.js
  styles.6a30b11c9a408609.css
  styles.c3fa78e9222ac83b.css
  vendor.2df0ee3bc179500f.js
  vendor.34af9139989a525a.js
Due: eslint --fix, prettier --write -u

fix(deps): @mat-datetimepicker/moment peer dependencies
  package-lock.json
  package.json
  projects/moment/package.json
Due: prettier --write -u

chore(release): 13.0.1
  projects/core/package.json
  projects/moment/package.json
Due: prettier --write -u

Notes added by 'git notes add'
  47624b0db4b04e406e52deb82b3d5a3f969d3c8e
Due: none

Auto-generated commit [ci skip]
  404.html
  index.html
  main.5a4a9a3df5514254.js
  main.d29f87c7481e77d2.js
  polyfills.9619567d0565ede5.js
  polyfills.b0667fb709bf8177.js
  styles.6a30b11c9a408609.css
  styles.99148bb8d713f9e1.css
  vendor.34af9139989a525a.js
  vendor.e1525f9a9a1b0c7c.js
Due: eslint --fix, prettier --write -u

chore(deps): update dependencies
  .prettierrc.json
  package-lock.json
  package.json
Due: prettier --write -u

chore(deps): update to latest dependencies
  package-lock.json
  package.json
Due: prettier --write -u

fix(deps): update @angular/core to v17.3.0
  package-lock.json
  package.json
Due: prettier --write -u

chore(release): 13.0.2
  projects/core/package.json
  projects/moment/package.json
Due: prettier --write -u

Notes added by 'git notes add'
  4e297992e3de305c9c3c7ab5a21b2f52fcc33404
Due: none

Auto-generated commit [ci skip]
  3rdpartylicenses.txt
  404.html
  index.html
  main.5a4a9a3df5514254.js
  main.9bf29831a6442f71.js
  polyfills.07673bdeadad0185.js
  polyfills.b0667fb709bf8177.js
  runtime.4754232643fbe219.js
  runtime.d07e61a26f68d183.js
  styles.99148bb8d713f9e1.css
  styles.d0147c8c05cfdcad.css
  vendor.8bf28cc7a1726ef6.js
  vendor.e1525f9a9a1b0c7c.js
Due: eslint --fix, prettier --write -u

chore(deps): use latest angular 17 release
  package-lock.json
  package.json
Due: prettier --write -u

ci: add jest to eslint for spec files
  .eslintrc.json
Due: prettier --write -u

feat(deps): angular 18
  package-lock.json
  package.json
  projects/core/package.json
  projects/moment/package.json
Due: prettier --write -u

ci: update required nodejs versions
  package-lock.json
  package.json
Due: prettier --write -u

chore: update to Angular 18
  angular.json
  package-lock.json
  package.json
  projects/core/package.json
  projects/core/src/datetimepicker/datetimepicker-theme.scss
  projects/moment/package.json
  src/styles.scss
  tsconfig.json
Due: prettier --write -u

chore: update dependencies
  package-lock.json
  package.json
  projects/core/package.json
  projects/moment/package.json
Due: prettier --write -u

chore: bump @mat-datetimepicker/core major version to 14.0.0
  projects/core/package.json
  projects/moment/package.json
Due: prettier --write -u

fix: moment-datetime-adapter lint issues
  projects/moment/src/adapter/moment-datetime-adapter.ts
Due: eslint --fix, prettier --write -u

chore(deps): angular 18 release
  angular.json
  package-lock.json
  package.json
  projects/core/package.json
  projects/core/src/datetimepicker/datetimepicker-theme.scss
  projects/moment/package.json
  projects/moment/src/adapter/moment-datetime-adapter.ts
  src/styles.scss
  tsconfig.json
Due: eslint --fix, prettier --write -u

ci: test node 22
  .github/workflows/test.yaml
Due: none

chore(release): 14.0.0
  projects/core/package.json
  projects/moment/package.json
Due: prettier --write -u

Notes added by 'git notes add'
  9aa6e4355be376be0aaed0039976e4639e907c65
Due: none

chore(deps): upgrade deps
  package-lock.json
  package.json
Due: prettier --write -u
