Repository kuhnroyal/mat-datetimepicker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write -u

Notes added by 'git notes add'
  ed0eff87c6c6571c68c6393a900d0004564db4f0
Due: none

chore(deps): npm-check-updates
  .github/workflows/test.yaml
  package-lock.json
  package.json
Due: prettier --write -u

fix(deps): update build dependencies
  package-lock.json
  package.json
Due: prettier --write -u

ci(dependabot): group angular dependency updates
  .github/dependabot.yml
Due: none

fix(eslint): useless assignment in clock
  projects/core/src/datetimepicker/clock.ts
Due: eslint --fix, prettier --write -u

chore(release): 17.0.5
  projects/core/package.json
  projects/moment/package.json
Due: prettier --write -u

Notes added by 'git notes add'
  57375f84a4778a158960de0ea52da2acd3a10edb
Due: none

Auto-generated commit
  404.html
  index.html
  main-66Y2RQMQ.js
  main-A4U55IS5.js
  polyfills-6ISPNSXF.js
  polyfills-OSBUY2IV.js
Due: eslint --fix, prettier --write -u

ci: remove node 22 build
  .github/workflows/test.yaml
  package.json
Due: prettier --write -u

fix(deps): regenerated lockfile
  package-lock.json
Due: prettier --write -u

chore(release): 17.1.0
  projects/core/package.json
  projects/moment/package.json
Due: prettier --write -u

Notes added by 'git notes add'
  e44bde940059ed1ded64dc6ec75ef01f8ebe228d
Due: none

Auto-generated commit
  .nojekyll
  404.html
  index.html
  main-5FTJPDNG.js
  main-A4U55IS5.js
  polyfills-OSBUY2IV.js
Due: eslint --fix, prettier --write -u

feat(deps): generate breaking change release v18.0.0
  package-lock.json
  package.json
Due: prettier --write -u

Path conditions:
  eslint --fix: any of: {,e2e/**/,projects/**/,src/**/}*.{js,ts,tsx,css}
  prettier --write -u: (any of: {,e2e/**/,projects/**/,src/**/}*.{js,ts,tsx,css}) or (any of: {,e2e/**/,projects/**/,src/**/}*.{md,json,html,css,scss})
