Repository kuhnroyal/mat-datetimepicker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write -u

ci(husky): remove bash intro
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore(deps): upgrade deps
  package-lock.json
  package.json
Due: prettier --write -u

chore(deps): update
  package-lock.json
  package.json
  projects/core/package-lock.json
  projects/moment/package-lock.json
Due: prettier --write -u

chore(deps): updated package.json
  package-lock.json
  package.json
Due: prettier --write -u

chore(release): 15.0.0
  projects/core/package.json
  projects/moment/package.json
Due: prettier --write -u

Notes added by 'git notes add'
  d3ea68690112276b9a8cb41ad2d4e3b975bc12cc
Due: none

refactor(sass): deprecation warnings
  projects/core/package.json
  projects/core/src/datetimepicker/clock.scss
  projects/core/src/datetimepicker/datetimepicker-theme.scss
  projects/moment/package.json
Due: prettier --write -u

chore(deps): updated build dependencies
  package-lock.json
  package.json
Due: prettier --write -u

Update projects/core/package.json
  projects/core/package.json
Due: prettier --write -u

refactor(sass): dont update the version number manually
  projects/moment/package.json
Due: prettier --write -u

fix(#628): sass deprecation warnings
  projects/core/src/datetimepicker/clock.scss
  projects/core/src/datetimepicker/datetimepicker-theme.scss
Due: prettier --write -u

chore(release): 15.0.1
  projects/core/package.json
  projects/moment/package.json
Due: prettier --write -u

Notes added by 'git notes add'
  ced2c7072dd3d1def1dcd4a99d23c7af269dc8b4
Due: none

fix(deps): updated dependencies
  package-lock.json
  package.json
Due: prettier --write -u

fix(deps): updated dependencies (#635)
  package-lock.json
  package.json
Due: prettier --write -u

chore(release): 15.0.2
  projects/core/package.json
  projects/moment/package.json
Due: prettier --write -u

Notes added by 'git notes add'
  95a295d2aa770ced4f3e5b8aba1a84ca57fa6bf5
Due: none

chore(deps): updated dependencies
  package-lock.json
  package.json
Due: prettier --write -u

chore(deps): updated dependencies (#642)
  package-lock.json
  package.json
Due: prettier --write -u

ci: run on ubuntu-latest runners
  .github/workflows/lint.yaml
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Due: none

feat(deps): updated dependencies - angular 20 ready
  .github/workflows/test.yaml
  angular.json
  package-lock.json
  package.json
  projects/core/package.json
  projects/core/tsconfig.lib.json
  projects/moment/package.json
  projects/moment/tsconfig.lib.json
  tsconfig.json
Due: prettier --write -u

chore(release): 16.0.0
  projects/core/package.json
  projects/moment/package.json
Due: prettier --write -u

Notes added by 'git notes add'
  7e1c7dc12547ad01016a42938506593fb986b086
Due: none

chore(deps): updated build dependencies across the board
  package-lock.json
  package.json
Due: prettier --write -u

fix(release): peer dependency in moment adapter for v16 release
  projects/moment/package.json
Due: prettier --write -u

refactor: use inject function over constructor injection
  projects/core/src/adapter/native-datetime-adapter.ts
  projects/core/src/datetimepicker/calendar.ts
  projects/core/src/datetimepicker/clock.ts
  projects/core/src/datetimepicker/datetimepicker-input.ts
  projects/core/src/datetimepicker/datetimepicker-toggle.ts
  projects/core/src/datetimepicker/datetimepicker.ts
  projects/core/src/datetimepicker/month-view.ts
  projects/core/src/datetimepicker/multi-year-view.ts
  projects/core/src/datetimepicker/year-view.ts
  projects/moment/src/adapter/moment-datetime-adapter.ts
  src/app/moment/moment.component.ts
  src/app/native/native.component.ts
Due: eslint --fix, prettier --write -u

chore(release): 16.0.1
  projects/core/package.json
  projects/moment/package.json
Due: prettier --write -u

Notes added by 'git notes add'
  5608df91627ce930a31fce2c79b6611bf5d26bd9
Due: none

Path conditions:
  eslint --fix: any of: {,e2e/**/,projects/**/,src/**/}*.{js,ts,tsx,css}
  prettier --write -u: (any of: {,e2e/**/,projects/**/,src/**/}*.{js,ts,tsx,css}) or (any of: {,e2e/**/,projects/**/,src/**/}*.{md,json,html,css,scss})
